/* Particular styles for printing (hiding elements etc) are defined in the respective page styles */


h1,
h2,
h3,
h4,
h5 {
    break-after: avoid;
    break-inside: avoid;
}

h1+p,
h2+p,
h3+p {
    break-before: avoid;
}

table,
figure {
    break-inside: avoid;
}